@tailwind base;
@tailwind components;


.card {
    @apply p-5 rounded-lg shadow-lg w-auto text-gray-200 trans
}

@media screen and ( min-width: 528px ) {  
    .card {
        min-width: 28rem;
        position: relative
    }
}

@media screen and ( min-width: 768px ) {
    .inner-card {
        @apply absolute bottom-0 pb-5
    }
}

.card-topography {
    @apply bg-gray-800
}
.card-topography {
    background-image: url('bg/topography.svg')
}
.card-jupiter {
    @apply bg-gray-800
}
.card-jupiter {
    background-image: url('bg/jupiter.svg')
}

.btn {
    @apply trans appearance-none border-none rounded-lg py-2 px-4 font-sans font-thin text-lg
}
.btn:focus {
    @apply outline-none
}

.btn-indigo-primary {
    @apply text-gray-400 bg-indigo-700
}
.btn-indigo-primary:active {
    @apply text-gray-300 bg-indigo-800
}
.btn-indigo {
    @apply text-gray-500 bg-gray-700
}
.btn-indigo:active {
    @apply text-gray-300 bg-indigo-700
}
.btn-blue {
    @apply text-gray-200 bg-blue-600
}
.btn-blue:active {
    @apply text-gray-100 bg-blue-700
}
.btn-secondary {
    @apply text-gray-900 bg-gray-500
}
.btn-secondary:active {
    @apply text-gray-100 bg-gray-700
}

.input {
    @apply trans appearance-none border border-none rounded-lg w-full py-2 px-3 font-sans font-thin text-lg
}
.input-indigo:focus {
    @apply outline-none
}

.input-indigo {
    @apply bg-gray-700 text-gray-300
}
.input-indigo:focus {
    @apply bg-indigo-700
}

.textarea {
    resize: none;
}

.trans {
    transition: all .25s, opacity .65s;
}

.trans-none {
    transition: all 0s !important; 
}

.trans-bg {
    transition-property: background;
}

.trans-slow {
    transition-duration: .5s;
}

.trans-slower {
    transition-duration: .5s;
}

.trans-fast {
    transition-duration: .15s;
}

.trans-faster {
    transition-duration: .075s;
}

@tailwind utilities;